*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    /* ### Primary */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    /* ### Neutral */
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
    --background: hsl(0, 0%, 98%);

    /* Font */
    --main-font: Poppins;
    --extraLight: 200;
    --regular: 400;
    --semibold : 600;

}

body {
    font-family: var(--main-font), sans-serif;
    font-size: 0.81rem;
    font-weight: var(--regular);
    background-color: var(--background);
    color: var(--grey-400);
}

a {
    text-decoration: none;
    font-style: italic;
    color: var(--grey-500);
}

img {
    /*width: 4.5rem;*/
    max-width: 100%;
}

main {
    padding: 2em 1.4em;
}

.head {
    text-align: center;
    max-width: 34rem;
    color: var(--grey-500);
    font-size: 0.9375rem;
    margin-bottom: 4.2em;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: clamp(1.6rem, 5vw, 2.3rem);
    margin-bottom: 0.4em;
}

h1 span {
    font-weight: var(--extraLight);
    color: var(--grey-400);
}

h2 {
    font-size: 1.25rem;
    color: var(--grey-500);
    font-weight: var(--semibold);
    margin-bottom: 0.2em;
}

.card {
    background-color: var(--white);
    position: relative;
    overflow: hidden;
    padding: 2em;
    margin-bottom: 2.3em;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08),                0px 8px 24px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--card-color);
    left: 0;
    top: 0;
}

.red {
    --card-color: var(--red);
}

.cyan {
    --card-color: var(--cyan);
}

.orange {
    --card-color: var(--orange);
}

.blue {
    --card-color: var(--blue);
}

.image{
    margin-top: 2em;
    margin-bottom: 0.5em;
    align-self: flex-end;
}

@media (min-width: 49rem) {
    .cards {
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2.2em;
    }
}

@media (min-width: 62rem) {
   
    .head {
        margin-top: 5em;
    }
    .cards {
        grid-template-columns: repeat(3, 350px);
        justify-content: center;
    }

    .cyan {
        grid-row: 1/ span 2;
        align-self: center;
    }

    .red,
    .orange {
        grid-column: 2;
    }

    .blue {
        grid-column: 3;
        grid-row: 1/ span 2;
        align-self: center;
    }
}

footer {
    text-align: center;
}